!!!
%html{lang: "pt-br"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %meta{content: "Studio Ghibli", name: "description"}/
    %meta{content: "Crislanne & Fernanda", name: "author"}/
    %title Porco Rosso: O Último Herói Romântico
    / Icone
    %link{href: "../icons/favicon/apple-icon-57x57.png", rel: "apple-touch-icon", sizes: "57x57"}/
    %link{href: "../icons/favicon/apple-icon-60x60.png", rel: "apple-touch-icon", sizes: "60x60"}/
    %link{href: "../icons/favicon/apple-icon-72x72.png", rel: "apple-touch-icon", sizes: "72x72"}/
    %link{href: "../icons/favicon/apple-icon-76x76.png", rel: "apple-touch-icon", sizes: "76x76"}/
    %link{href: "../icons/favicon/apple-icon-114x114.png", rel: "apple-touch-icon", sizes: "114x114"}/
    %link{href: "../icons/favicon/apple-icon-120x120.png", rel: "apple-touch-icon", sizes: "120x120"}/
    %link{href: "../icons/favicon/apple-icon-144x144.png", rel: "apple-touch-icon", sizes: "144x144"}/
    %link{href: "../icons/favicon/apple-icon-152x152.png", rel: "apple-touch-icon", sizes: "152x152"}/
    %link{href: "../icons/favicon/apple-icon-180x180.png", rel: "apple-touch-icon", sizes: "180x180"}/
    %link{href: "../icons/favicon/android-icon-192x192.png", rel: "icon", sizes: "192x192", type: "image/png"}/
    %link{href: "../icons/favicon/favicon-32x32.png", rel: "icon", sizes: "32x32", type: "image/png"}/
    %link{href: "../icons/favicon/favicon-96x96.png", rel: "icon", sizes: "96x96", type: "image/png"}/
    %link{href: "../icons/favicon/favicon-16x16.png", rel: "icon", sizes: "16x16", type: "image/png"}/
    %link{href: "../icons/favicon/manifest.json", rel: "manifest"}/
    %meta{content: "#ffffff", name: "msapplication-TileColor"}/
    %meta{content: "../icons/favicon/ms-icon-144x144.png", name: "msapplication-TileImage"}/
    %meta{content: "#ffffff", name: "theme-color"}/
    / Bootstap
    %link{href: "https://getbootstrap.com/docs/5.2/examples/album/", rel: "canonical"}/
    / Fontes Google
    %link{href: "https://fonts.googleapis.com", rel: "preconnect"}/
    %link{crossorigin: "", href: "https://fonts.gstatic.com", rel: "preconnect"}/
    %link{href: "https://fonts.googleapis.com/css2?family=VT323&display=swap", rel: "stylesheet"}/
    %link{href: "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap", rel: "stylesheet"}/
    / Css e JavaScript
    %link{href: "../css/style-filmes.css", rel: "stylesheet"}/
    %link{href: "../assets/bootstrap.min.css", rel: "stylesheet"}/
    :css
      .div-box{
      	background-image: url("../covers/cover-17.jpg");
      }
  %body
    .div-box
      %header
        / Navegador
        %nav.navbar{"aria-label" => "barra de navegação"}
          .container-fluid
            / Logo
            %a#logo{href: "../index.html"}
              %img#imagem-logo{alt: "susuwatari", src: "../icons/logo2.png"}/
            / Pesquisa
            .container-out
              .search-container
                %form#search-engine
                  %input#search{autocomplete: "off", autofocus: "", name: "filmes", onblur: "desfocus()", placeholder: "Pesquisar", type: "text"}/
                  %input#search_submit{type: "button"}/
                  #search-results
                #search-data
        .texto-cover
          %h1 Porco Rosso: O Último Herói Romântico
          %h2{lang: "ja"} 紅の豚
    %main
      .filme
        .div-wrap
          %img#poster{alt: "Poster do Filme Porco Rosso: O Último Herói Romântico", src: "../posters/poster-17.jpg"}/
          %br/
          %br/
          %p Porco Rosso: O Último Herói Romântico é um longa metragem de animação baseado no mangá Hikotei Jidai (The Age of the Flying Boat) de Hayao Miyazaki, dirigido pelo próprio Miyazaki e produzido pelo Studio Ghibli, lançado em 1992.
        .div-wrap
          %h3 Informações
          %table.ghibli-table
            %tbody
              %tr
                %th Duração
                %td 108 min
              %tr
                %th Direção
                %td Hayao Miyazaki
              %tr
                %th Produção
                %td Toshio Suzuki
              %tr
                %th Roteiro
                %td Hayao Miyazaki
              %tr
                %th Baseado
                %td
                  Hikotei Jidai, de
                  %br>/
                  Hayao Miyazaki
              %tr
                %th Elenco
                %td
                  Shuichiro Moriyama
                  %br>/
                  Tokiko Kato
                  %br>/
                  Akemi Okamura
                  %br>/
                  Akio Otsuka
              %tr
                %th Gênero
                %td Aventura
              %tr
                %th Música
                %td Joe Hisaishi
              %tr
                %th Cinematografia
                %td Atsushi Okui
              %tr
                %th Direção de arte
                %td Kazu Hisamura
              %tr
                %th Edição
                %td Takeshi Seyama
              %tr
                %th Companhia(s) produtora(s)
                %td Studio Ghibli
              %tr
                %th
                  Lançamento
                  %img#bandeira{alt: "Bandeira do Japão", src: "../icons/bandeira-japao.png"}/
                %td 218 de julho de 1992
              %tr
                %th Idioma
                %td Japonês
              %tr
                %th Orçamento
                %td US$9,2 milhões
              %tr
                %th Receita
                %td US$ 59 milhões
        .div-wrap
          %h3#sinopse Sinopse
          %p A trama gira em torno de um ex-ás italiano da Primeira Guerra Mundial, agora vivendo como um caçador de recompensas freelance perseguindo “piratas do ar” no Mar Adriático. No entanto, uma maldição incomum o transformou em um porco antropomórfico.
          %p Costa do Mar Adriático, início dos anos 30. Marco Porcellino, mais conhecido como Porco Rosso, é um aviador caçador de recompensas que luta contra piratas aéreos. Cansados de serem derrotados por Porco, os piratas se unem e contratam um piloto americano para duelar com ele.
        .div-wrap
          %h3#Critica Produção &amp; Contexto
          %p Porco Rosso foi originalmente planejado como um curta-metragem de bordo para a Japan Airlines, baseado no mangá de Hayao Miyazaki, A Era do Barco Voador, mas se transformou em um longa-metragem.
          %p A eclosão da guerra na Iugoslávia lançou uma sombra sobre a produção e provocou um tom mais sério para o filme, que havia sido ambientado na Croácia. A companhia aérea continuou a ser uma grande investidora da obra e o exibiu como um filme de bordo muito antes de seu lançamento no cinema. Devido a isso, o texto de abertura que apresenta o filme aparece simultaneamente em japonês, italiano, coreano, inglês, chinês, espanhol, árabe, russo, francês e alemão. A Telecom Animation Film Co., Ltd. ajudou a animar o filme.
        .div-wrap
          %h3 Trilha Sonora
          %iframe{allow: "autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture", allowfullscreen: "", loading: "lazy", src: "https://open.spotify.com/embed/album/6NhWTFHoOj5n0UhbBkq5G3?utm_source=generator", style: "border-radius:12px; width: 100%; height: 380px;"}
        #div-wrap-assista.div-wrap
          %h3 Assista em
          %a{href: "https://www.netflix.com/br/title/70019060"}
            %img.icon{alt: "Netflix", src: "../icons/netflix.png"}/
          %a{href: "https://tv.apple.com/br/movie/porco-rosso/umc.cmc.1pl34xwtczyls1u2ykbbz3vgw?action=play"}
            %img.icon{alt: "AppleTv", src: "../icons/apple.png"}/
    %footer
      #rodape
        %button#scroll-up
          %span#seta ➜
        %img#imagem-logo2{alt: "susuwatari", src: "../icons/logo1.png"}/
      #texto-rodape
        %p Textos e Informações retirados da Wikipedia e do site Studio Ghibli Brasil | Criado por Fernanda &amp; Crislanne | 2022
    %script{src: "../js/javascript.js"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"}
    %script{src: "../assets/bootstrap.bundle.min.js"}